<!DOCTYPE html>
<!--[if lt IE 7 ]><html lang="en" class="ie6 ielt7 ielt8 ielt9"><![endif]-->
<!--[if IE 7 ]><html lang="en" class="ie7 ielt8 ielt9"><![endif]-->
<!--[if IE 8 ]><html lang="en" class="ie8 ielt9"><![endif]-->
<!--[if IE 9 ]><html lang="en" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html lang="en"><!--<![endif]--> 
	<head>
		<meta charset="utf-8">
		<title>Blog 后台登录</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link href="css/bootstrap-responsive.min.css" rel="stylesheet">
		<link href="css/site.css" rel="stylesheet">
		<!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	</head>
	<body>
		<div id="login-page" class="container">
			<h1>blog后台登录</h1>
			<form id="login-form" class="well" action="index.htm">
			<input type="text" class="span2" placeholder="Email" /><br />
			<input type="password" class="span2" placeholder="Password" /><br />
			<label class="checkbox"> <input type="checkbox" /> Remember me </label>
			<button type="submit" class="btn btn-primary">Sign in</button>
			<button type="submit" class="btn">Forgot Password</button>
		</form>	
		</div>
		<script src="/static/js/jquery.min.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
		<script src="/static/js/site.js"></script>
	</body>
</html>