<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
	<!--  Page Needs -->
	<meta charset="utf-8">
    {% block head %}
    {% endblock %}

	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta name="baidu-site-verification" content="iMjzOClF2L" />
    <meta property="wb:webmaster" content="d07ab237c0e07028" />
    <!-- BootStrap -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/font-awesome/3.0.0/css/font-awesome.min.css">
	<!-- CSS -->
	<link rel="stylesheet" href="/static/css/zerogrid.css">
	<link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/responsive.css">


    <link href='static/images/logo.png' rel='icon' type='image/x-icon'/>
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "//hm.baidu.com/hm.js?20621d5f9bc71d4cdbed22a2f3e8d91b";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
	</script>

    <!--[if lt IE 8]>
       <div style=' clear: both; text-align:center; position: relative;'>
         <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
           <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
        </a>
      </div>
    <![endif]-->
    <!--[if lt IE 9]>
		<script src="/static/js/html5.js"></script>
		<script src="/static/js/css3-mediaqueries.js"></script>
	<![endif]-->
</head>
<body>
	<div class="wrap-body">
	<!-- Header -->
	<header>
		<div class="wrap-header zerogrid">
			<div id="logo"><a href="{{ url_for('show_blog') }}"><img src="/static/images/newlogo.png"/></a></div>
			<nav>
				<div class="wrap-nav">
					<div class="menu">
						<ul>
							<li><a href="{{ url_for('show_blog') }}">首页</a></li>
							<li><a href="{{ url_for('show_categories') }}">分类</a></li>
							<li><a href="{{ url_for('show_comment') }}">留言</a></li>
							<li><a href="{{ url_for('show_about') }}">关于</a></li>
						</ul>
					</div>
				</div>
			</nav>
		</div>
	</header>
<!-- Content -->
<section id="content">
	<div class="wrap-content zerogrid">
		<div class="row block">
			<div id="main-content" class="col-2-3">
				<div class="row">
					<div class="col-full">
						<div class="wrap-col">
                            {% block body %} {% endblock %}
						</div>
					</div>
				</div>
			</div>
			<div id="sidebar" class="col-1-3">
				<div class="wrap-col">
					<div class="box">
						<div class="heading"><h4 class="title">About Me</h4></div>
						<div class="content">
							<div class="connect">
                                <div class="thumbnail">
                                    <img src="/static/images/myhead.png" alt="'">
                                    <div class="caption">
                                        <div style="text-align:center;"><h4 style="text-transform:none;">NoGameNoLife</h4></div>
                                        <p>&nbsp; &nbsp;一名普通到不能再普通到大学生。喜欢编程，喜欢动漫的死宅，目标成为一名技术宅..... </p>
                                    </div>
                                </div>
							</div>
						</div>
					</div>
					<div class="box">
						<div class="heading"><h4 class="title">标签</h4></div>
						<ul class="nav nav-pills">
                            {%  for tag in tags %}
                                <li role="presentation"><a href="{{ url_for('show_tag', tag_id=tag.id) }}">{{ tag.name|safe }}</a> </li>
                            {% endfor %}
                        </ul>
					</div>

                    <div class="box">
						<div class="heading"><h4 class="title">最新评论</h4></div>
						<div class="content">
                                    <!-- 多说最新评论 start -->
                        <div class="ds-recent-comments" data-num-items="5" data-show-avatars="1" data-show-time="1" data-show-title="1" data-show-admin="1" data-excerpt-length="70"></div>
                                <!-- 多说最新评论 end -->

                        </div>
                    </div>
                    <div class="box">
						<div class="heading"><h4 class="title">最近访客</h4></div>
						<div class="content">
                            <!-- 多说热评文章 start -->
                            <ul class="ds-recent-visitors"></ul>
                            <!-- 多说热评文章 end -->
						</div>
					</div>

					</div>
				</div>
			</div>
		</div>
</section>

<!-- Footer -->
<footer>
	<div class="wrap-footer zerogrid">
		<div class="row">
			<div class="col-1-3">
				<div class="wrap-col">
					<div class="box">
						<div class="heading"><h4 class="title">联系信息</h4></div>
						<div class="content gallery">
                            <p>website: <a href="http://weibo.com/NoGameNoLife00">新浪微博</a></p>
                            <p>E-mail: NoGameNo_Life@163.com</p>
                            <p></p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-1-3">
				<div class="wrap-col">
					<div class="box">
						<div class="heading"><h4 class="title">About Us</h4></div>
						<div class="content">
						</div>
					</div>
				</div>
			</div>
			<div class="col-1-3">
				<div class="wrap-col">
					<div class="box">
						<div class="heading"><h4 class="title">友情链接</h4></div>
						<div class="content">
                            {% for link in links %}
                            
                            <p><a href="{{ link.link }}" target="_blank">{{ link.name }}</a></p>
                            {% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="copyright">
        <p>Copyright © 2012 - 2015</p>
	</div>
</footer>

</div>
<!--JavaScript-->
<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"nogamenolife"};
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
    </script>
<!-- 多说公共JS代码 end -->

</body>
</html>