{% extends "blog/layout.html" %}

{% block head %}
	<title>所以分类 |NoGameNoLife的博客</title>
	<meta name="description" content="NoGameNoLife的博客, C/C++,C#,Python,web,算法">
	<meta name="author" content="NoGameNoLife">
	<meta name="keywords" content="分类,关于,C/C++,C#,Python,web,算法">
{% endblock %}



{% block body %}

<ol class="breadcrumb">
    <li><a href="{{ url_for('show_blog') }}">首页</a> </li>
    <li><a href="{{ url_for('show_categories') }}">分类</a> </li>

</ol>

{% for category in categories %}
    <div class="last-group" style="margin-bottom:20px;">
        <a href="#" class="list-group-item active" style="background-color:#2ECC71; border-color:#2ECC71;">
            <h3 class="list-group-item-heading" style="text-align:center; font-size:20px">{{ category.name }}<span class="badge" style="position:relative; width:30px;color:#4169e1; background-color:#fff;top:-3px; margin-left:10px">{{ counts.pop(0) }}</span></h3>
        </a>
    <!--<h1><span class="label label-success">{{ category.name }}</span></h1>-->
        {% for entry in category.entries[:5] %}
            <a href="{{ url_for('show_entry', entry_id=entry.id) }}" class="list-group-item"><h4 class="list-group-item-heading" style="text-transform:none;">{{ entry.title }}</h4>
            <p class="list-group-item-text" style="text-align:right"><i class="glyphicon glyphicon-calendar"></i> {{ entry.create_time.strftime("%y-%m-%d") }}</p></a>
        {% endfor %}

        <p style="margin-top:8px;"><a style="background-color:#2ECC71;border-color:#2ECC71;" class="btn btn-primary btn-lg" href="{{ url_for('show_category', category_id=category.id) }}" role="button">查看更多</a></p>
    </div>
    <div role="presentation" class="divider">  </div>

{% endfor %}


{% endblock %}