{% extends "blog/layout.html" %}
{% block head %}
	<title>NoGameNoLife的博客</title>
	<meta name="description" content="NoGameNoLife的博客, C/C++,C#,Python,web,算法">
	<meta name="author" content="NoGameNoLife">
	<meta name="keywords" content="个人blog,C/C++,C#,Python,web,算法">
{% endblock %}


{% block body %}

{% for entry in entries %}
    <article>
        <div class="heading"><h2 class="title" style="text-transform:none;" ><a href="{{ url_for('show_entry', entry_id=entry.id) }}">{{ entry.title |safe }}</a></h2></div>
        <!--<img src="/static/images/img1.jpg"/>-->
        <div class="content">
                {{ (entry.fragment)|safe }}...

        </div>
        <div class="extra">

            <div class="info">
                By Admin on {{ entry.create_time.strftime("%Y-%m-%d") }} -
                <a href="{{ url_for('show_entry', entry_id=entry.id) }}">
                    <span class="ds-thread-count" data-thread-key="{{ entry.id }}" data-count-type="comments"></span>
                </a>
            </div>
            <div class="more"><a class="button" href="{{ url_for('show_entry', entry_id=entry.id) }}">Read more >></a></div>

            <div class="clear"></div>
        </div>
    </article>
{% endfor %}
<nav style="text-align:bottom">
    <ul class="pagination">
        {% if p.has_prev %}
            <li><a href="{{ url_for('show_blog', page=p.prev_num) }}" aria-label="Previous"><span aria-hidden="true">上一页</span></a></li>
        {% else %}
            <li><a href="#">上一页</a></li>
        {% endif %}

        {% for i in pagination %}
            {% if i == page %}
                <li class="active"><a href="#">{{ i }}<span class="sr-only">(current)</span></a></li>
            {% else %}
                <li><a href="{{ url_for('show_blog', page=i) }}"> {{ i }}</a></li>
            {% endif %}
        {% endfor %}

        {% if p.has_next %}
            <li><a href="{{ url_for('show_blog', page=p.next_num) }}" aria-hidden="next"><span aria-hidden="true">下一页</span>
        {% else %}
            <li><a href="#">下一页</a></li>
        {% endif %}
       </a></li>
    </ul>
</nav>

{% endblock %}
