{% extends "blog/layout.html" %}
{% block body %}


<section id="content">
	<div class="wrap-content zerogrid">
		<div class="row block">
			<div id="main-content" class="col-2-3">
				<div class="row">
					<div class="col-full">
						<div class="wrap-col">
                            {% for entry in entries %}
                                <article>
                                    <div class="heading"><h2 class="title"><a href="#">{{ entry.title |safe }}</a></h2></div>
                                    <!--<img src="/static/images/img1.jpg"/>-->
                                    <div class="content">
                                            {{ entry.content|safe }}

                                    </div>
                                    <div class="extra">
                                        <div class="info">By Admin on December 01, 2012 - <a href="#">01 Commnets</a></div>
                                        <div class="more"><a class="button" href="#">Read more >></a></div>
                                        <div class="clear"></div>
                                    </div>
                                </article>
                            {% endfor %}
                            <nav>
                                <ul class="pagination">
                                    {% if p.has_prev %}
                                        <li><a href="{{ url_for('show_blog', page=p.prev_num) }}" aria-label="Previous"><span aria-hidden="true">上一页</span></a></li>
                                    {% else %}
                                        <li><a href="#">上一页</a></li>
                                    {% endif %}

                                    {% for i in pagination %}
                                        {% if i == page %}
                                            <li class="active"><a href="#">{{ i }}<span class="sr-only">(current)</span></a></li>
                                        {% else %}
                                            <li><a href="{{ url_for('show_blog', page=i) }}"> {{ i }}</a></li>
                                        {% endif %}
                                    {% endfor %}

                                    {% if p.has_next %}
                                        <li><a href="{{ url_for('show_blog', page=p.next_num) }}" aria-hidden="next"><span aria-hidden="true">下一页</span>
                                    {% else %}
                                        <li><a href="#">下一页</a></li>
                                    {% endif %}
                                   </a></li>
                                </ul>
                            </nav>
						</div>
					</div>
				</div>
			</div>
			<div id="sidebar" class="col-1-3">
				<div class="wrap-col">
					<div class="box">
						<div class="heading"><h4 class="title">Connect Me</h4></div>
						<div class="content">
							<div class="connect">
								<a href="#"><img src="static/images/socials/facebook-icon.png" title="facebook"/></a><a href="#"><img src="static/images/socials/google-plus-icon.png" title="google plus"/></a><a href="#"><img src="static/images/socials/twitter-icon.png" title="twitter" /></a><a href="#"><img src="static/images/socials/pinterest-icon.png" title="pin"/></a><a href="#"><img src="static/images/socials/rss-icon.png" title="rss"/></a>
							</div>
						</div>
					</div>
					<div class="box">
						<div class="heading"><h4 class="title">文章分类</h4></div>
						<div class="content">
							<div class="post">
								<img src="images/img2.jpg"/>
								<h5 class="title"><a href="#">Lorem ipsum dolor sit amet</a></h5>
							</div>
							<div class="post last">
								<img src="images/img4.jpg"/>
								<h5 class="title"><a href="#">Lorem ipsum dolor sit amet</a></h5>
							</div>
						</div>
					</div>
					<div class="box">
						<div class="heading"><h4 class="title">最新留言</h4></div>
						<div class="content">
							<ul>
								<li><a href="#">Free Html5 Templates</a></li>
								<li><a href="#">Free Responsive Themes</a></li>
								<li><a href="#">Free Html5 and Css3 Themes</a></li>
								<li><a href="#">Free Responsive Html5 and Css3 Themes</a></li>
								<li><a href="#">Free Basic Responsive Html5 Css3 Layouts</a></li>
								<li class="last"><a href="#">Premium Responsive Html5 Css3 Templates</a></li>
							</ul>
						</div>
					</div>
					<div class="box">
						<div class="heading"><h4 class="title">友情链接</h4></div>
						<div class="content">
							<div class="post">
								<img src="images/img1[thumb].jpg"/>
								<h5 class="title"><a href="#">Lorem ipsum dolor sit amet</a></h5>
								<p>November 11 ,2012</p>
							</div>
							<div class="post">
								<img src="images/img3[thumb].jpg"/>
								<h5 class="title"><a href="#">Lorem ipsum dolor sit amet</a></h5>
								<p>November 11 ,2012</p>
							</div>
							<div class="post last">
								<img src="images/img5[thumb].jpg"/>
								<h5 class="title"><a href="#">Lorem ipsum dolor sit amet</a></h5>
								<p>November 11 ,2012</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


{% endblock %}
